body , div , ul{


	margin: 0;
	padding:0;
}

body {
	background-color: #F5F5F5;/*gris claire*/
	font-family: Arial, sans-serif;
	font-size: 13px;
}

/*ensemble de la page est fixé est centré*/
.global{

	width: 1024px;
	margin: 0 auto;
}
/*Bandeau d'en tête*/
.entete{
  height: 80px;
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;

}

/*menu de navigation*/
.blocmenu{
	height: 36px;
	background-color: lavender;
}
contenu de la page
.contenu{
	padding: 10px;
	background-color: white;
}
/*pied de page*/
.pied{
	padding: 5px;
	background-color: lightgray;
}
/*détail pour le menu de navigation*/
#menu li{
	float:left;
	list-style-type: none;
}
#menu li a , #menu li a:visited{
	padding:0px;
	line-height: 35px;
	font-size: 14px;
	text-decoration: none;
	color:black;
}
#menu li a:hover{

	background-color: lightsteelblue;
	color:brown;
}






}


#tm ul{
	margin: 0;
	padding: 0;
	line-height: 30px;
}
#tm li{
	margin: 0;
	padding: 0;
	list-style: none;
	float:left;
	position:relative;
	background-color: #999;
}
#tm ul li a{

	text-decoration: none;
	text-align: center;
	height :30px;
	width:150px;
	display: block;
	color:#000;
}
#tm ul ul{

   position: absolute;
   visibility: hidden;
   top:30px;

}
#tm ul li:hover ul{
   visibility: visible;
   background-color: blue;


}
#tm li:hover{
	background: #09f
}
#tm ul li:hover ul li a :hover{
	background: #ccc;
}
