
/* en táº¿te*/
#entete{
   
    /*background: lightgray;*//
    width: 100%;
    height: 100px;
    /*border: solid 1px black;*/
}
#entete h1{
    position: absolute;
    top: 30px;
    width: 80%;
    font: Arial;
 

}
#entete img{
	display: block;
	width: 100%;
	height: 100px;
	
}
#global {
        margin-top: 10px;
        height: 800px;
       /** border: solid 1px red;*/
        

}
nav{

   height: 40px;
  /*  border: solid 1px blue;*/
    margin:5px;
   /* background-color: gray;*/



}
#global h1{
	
	margin:10px;
	text-align: center;
	
}
#pied{

	height: 110px;
	width: 100%;
	/*border: solid 1px green;*/
	background: lavender;
	position: absolute;
	top: 910px
}
#pied h3{
      text-align: right;  
   
}
#pied p{
     position: relative;
     text-align: center;
     top: 70px;

}
#pied img{
    display: block;
	width: 60px;
	height: 60px;
	border: solid 1px red;
	float: right;
}
#plan img{
   display:block;
   position: relative;
   float:right;
   height: 580px;
   width: 800px;

  /* border: solid 1px red;*/
   


}
#explication {
  position: relative;
  margin: 10px;
  padding: 10px;
  /*border: solid 1px green;*/
  /*background: blue;*/
  height: 200px;
  width:500px;
  left: 0;
  top: 150px;
}
#explication p{

	line-height: 30px;
	text-indent: 2em;
	font-size: 20px;
}
#menu li{
	
	
	list-style-type: none;
}
#menu li a , #menu li a:visited{
	padding:0px;
	line-height: 35px;
	font-size: 14px;
	text-decoration: none;
	color:black;
}
#menu li a:hover{

	/*background-color: lightsteelblue;*/
	color:brown;
}

}


#globalmenu ul{
	margin-left, margin-right: 30px;
	line-height: 30px;
}
#globalmenu li{
	margin: 0;
	padding: 0;
	list-style: none;
	float:left;
	position:relative;
	/*background-color: #999;*/
}
#globalmenu ul li a{

	text-decoration: none;
	text-align: center;
	height :30px;
	width:150px;
	display: block;
	color:#000;
}
#globalmenu ul ul{

   position: absolute;
   visibility: hidden;
   top:30px;

}
#globalmenu ul li:hover ul{
   visibility: visible;
   background-color: blue;


}
#globalmenu li:hover{
	background: #09f
}
#globalmenu ul li:hover ul li a :hover{
	background: #ccc;
}
