
div.idzone{
	float: right;
	border-style: solid;
	width: 30%;
	background-color:#CEECF5;
	color:#848484;
	font-family: Arial sans-serif;
}

.cvzone{
	width:70%;
	border-style: 
	;
}

p.img {
	text-align: center;
}
img {

	max-width: 40%;
	height: auto;
}

h1.cvid{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;

	
}

h1.cv1{
	text-align: center;
	background-color:#F5ECCE;
	font-family: sans-serif;

}
div.contenu{
	margin-top: 90px;
	border-style:;
}

ul.para{
	font-size: 20px;
	font-family: sans-serif;
}

strong.annee{
	color:#8A4B08;
}
